<script type="text/javascript">
  window.preloadListings = <%= raw @listings.to_json %>
  window.rubyTime = <%= Time.new.to_i %>
</script>

<div class="container">
  <%= image_tag 'buttons/join.gif', 'data-rollover' => image_path('buttons/join_over.gif'), class: 'button hidden', id: 'add_button' %>

  <form id="add_step_1" class="-hidden">
    <div class="section">
      <label for="realm">Realm:</label>
      <input type="text" name="realm" id="listing_realm" size="30" />
      <label for="name">Name:</label>
      <input type="text" id="listing_name" size="30" />
    </div>
    <div class="section">
      <input type="submit" value="Add My Character" />
    </div>
  </form>

  <table id="listing_table" class="hidden">
    <thead>
      <tr class="header">
        <th data-sort="faction"></th>
        <th data-sort="character">Character</th>
        <th data-sort="realm">Realm</th>
        <th data-sort="main_spec"><span data-tooltip="Main Spec">MS</span></th>
        <th data-sort="off_spec"><span data-tooltip="Off Spec">OS</span></th>
        <th data-sort="rating">Current<br />Rating</th>
        <th data-sort="rank">Highest<br />Rank</th>
        <th data-sort="resilience"><span data-tooltip="Total Resilience">Resil</span></th>
        <th data-sort="item_level"><span data-tooltip="Average Item Level">iLvl</span></th>
        <th data-sort="irc_name">IRC Name</th>
        <th data-sort="time_in_list"><span data-tooltip="Time in List">Time</td></th>
        <th data-sort="notes">Notes</th>
      </tr>
    </thead>
    <tbody>
      <tr class="empty hidden">
        <td colspan="12">Nobody here yet!</td>
      </tr>
    </tbody>
  </table>
</div>

<script type="text/html" id="listing_row">
  <td><img src="{{ faction_icon }}" class="icon" /></td>
  <td><img src="{{ race_icon }}" class="icon" />
      <img src="{{ class_icon }}" class="icon">
      <a href="{{ bnet_url }}" class="{{ class_name }}" target="_blank">{{ character }}</a></td>
  <td><span data-tooltip="{{ battlegroup }}">{{ realm }}</span></td>
  <td><img src="{{ main_spec_icon }}" data-tooltip="{{ main_spec }}" /></td>
  <td><img src="{{ off_spec_icon }}" data-tooltip="{{ off_spec }}" /></td>
  <td>{{ rating }}</td>
  <td>{{ rank }}</td>
  <td>{{ resilience }}</td>
  <td>{{ item_level }}</td>
  <td>{{ irc_name }}</td>
  <td class='time'>{{ time_in_list}} min</td>
  <td></td>
</script>
