%table.borderless
  = image_tag 'buttons/join.gif', 'data-rollover' => image_path('buttons/join_over.gif'), :class => 'button'
  %tr.header
    %th Faction
    %th Character
    %th Realm
    %th Class
    %th Main Spec
    %th Off Spec
    %th
      Current
      %br
      Rating
    %th
      Highest
      %br
      Rank
    %th
      %span{'data-tooltip' => 'Total Resilience'} Resil
    %th
      %span{'data-tooltip' => 'Average Item Level'} iLvl
    %th IRC Name
    %th Notes
  %tr.medium
    %td H
    %td
      %a.druid{href: "http://us.battle.net/wow/en/character/nazjatar/Cyaga/advanced"} Cyaga
    %td
      %span{'data-tooltip' => 'Shadowburn'} Nazjatar
    %td.druid Druid
    %td Resto
    %td Feral (cat)
    %td 2800
    %td Peon
    %td 9001
    %td 416
    %td [H]-Cyaga
    %td
      = image_tag 'icons/note.png', 'data-tooltip' => "BLACK MAGIC"
  %tr.alt_light
    %td H
    %td
      %a.deathknight{href: "http://us.battle.net/wow/en/character/nazjatar/Mortawa/advanced"} Mortawa
    %td
      %span{'data-tooltip' => 'Shadowburn'} Nazjatar
    %td.deathknight Death Knight
    %td Blood
    %td Unholy
    %td 1800
    %td Junkie
    %td 1337
    %td 200
    %td [H]-Mortawa
    %td
  %tr.medium
    %td H
    %td
      %a.shaman{href: "http://us.battle.net/wow/en/character/nazjatar/Iemonandlime/advanced"} Iemonandlime
    %td
      %span{'data-tooltip' => 'Shadowburn'} Nazjatar
    %td.shaman Shaman
    %td Resto
    %td Enhance
    %td 1234
    %td Peon
    %td 9001
    %td 416
    %td [H]-Iemonandlime
    %td
      = image_tag 'icons/note.png', 'data-tooltip' => "Cutest goblin shaman"
  %tr.alt_light
    %td A
    %td
      %a.paladin{href: "http://us.battle.net/wow/en/character/nazjatar/MMMMMMMMMMMM/advanced"} MMMMMMMMMMMM
    %td
      %span{'data-tooltip' => 'Super Long Battlegroup Yo'} Long-Ass Realm Name
    %td.paladin Paladin
    %td Prot
    %td Holy
    %td 1800
    %td Junkie
    %td 1337
    %td 200
    %td [A]-MMMMMMMMMMMM
    %td
      = image_tag 'icons/note.png', 'data-tooltip' => "Man his name is long"
