%h1 Testing

%p Oh yeah, that's what I'm talkin about!

.deathknight Death Knight
.druid Druid
.hunter Hunter
.mage Mage
.paladin Paladin
.priest Priest
.rogue Rogue
.shaman Shaman
.warlock Warlock
.warrior Warrior
