$class_color_deathknight : #C41F3B;
$class_color_druid       : #FF7D0A;
$class_color_hunter      : #ABD473;
$class_color_mage        : #69CCF0;
$class_color_paladin     : #69CCF0;
$class_color_priest      : #FFFFFF;
$class_color_rogue       : #FFF569;
$class_color_shaman      : #0070DE;
$class_color_warlock     : #9482C9;
$class_color_warrior     : #C79C6E;

$text_color        : #F0EFCB;
$bg_dark_color     : #1F0D0A;
$bg_medium_color   : #29120D;
$bg_light_color    : #5C281D;

$body_font         : 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
