@import 'common';

table {
  padding: 0;
  margin: 0;
  border-spacing: 0;
  margin: 0 auto;

  th, td {
    padding: 6px 5px;
    text-align: left;
    img {
      vertical-align: top;
    }
  }

  th {
    padding-left: 14px;
  }
}

img.icon {
  background-color: black;
  border: 1px solid #434445;
  border-bottom-color: #2f3032;
  border-top-color: #b1b2b4;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

form {
  padding: 15px 0;
}

.section {
  padding-bottom: 5px;
}

tr {
  background-color: $bg_medium_color;
}

tr:nth-child(2n) {
  background-color: $bg_alt_light_color;
}

th {
  margin-right: 20px;
  background-image: image-url('table/both.png');
  background-repeat: no-repeat;
  background-position: left 80%;
}

th.headerSortUp {
  background-image: image-url('table/up.png');
}

th.headerSortDown {
  background-image: image-url('table/down.png');
}

label {
  font-weight: bold;
}
