.sprites {
  display: inline-block;
  border: 1px solid black;
  border-bottom-color: #2f3032;
  border-top-color: #b1b2b4;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  line-height: 1px;
  vertical-align: bottom;
  background-image: image-url('/assets/icon_sprite.png');
  background-color: transparent;
  background-repeat: no-repeat;
}

.sprites.ability_backstab {
  height               : 18px;
  width                : 18px;
  background-position  : -0px -0px;
}

.sprites.ability_hunter_bestialdiscipline {
  height               : 18px;
  width                : 18px;
  background-position  : -18px -0px;
}

.sprites.ability_hunter_camouflage {
  height               : 18px;
  width                : 18px;
  background-position  : -36px -0px;
}

.sprites.ability_hunter_focusedaim {
  height               : 18px;
  width                : 18px;
  background-position  : -90px -0px;
}

.sprites.ability_paladin_shieldofthetemplar {
  height               : 18px;
  width                : 18px;
  background-position  : -162px -0px;
}

.sprites.ability_racial_bearform {
  height               : 18px;
  width                : 18px;
  background-position  : -54px -0px;
}

.sprites.ability_rogue_eviscerate {
  height               : 18px;
  width                : 18px;
  background-position  : -72px -0px;
}

.sprites.ability_stealth {
  height               : 18px;
  width                : 18px;
  background-position  : -108px -0px;
}

.sprites.ability_warrior_defensivestance {
  height               : 18px;
  width                : 18px;
  background-position  : -126px -0px;
}

.sprites.ability_warrior_innerrage {
  height               : 18px;
  width                : 18px;
  background-position  : -144px -0px;
}

.sprites.ability_warrior_savageblow {
  height               : 18px;
  width                : 18px;
  background-position  : -180px -0px;
}

.sprites.class_1 {
  height               : 18px;
  width                : 18px;
  background-position  : -198px -0px;
}

.sprites.class_2 {
  height               : 18px;
  width                : 18px;
  background-position  : -216px -0px;
}

.sprites.class_3 {
  height               : 18px;
  width                : 18px;
  background-position  : -234px -0px;
}

.sprites.class_4 {
  height               : 18px;
  width                : 18px;
  background-position  : -252px -0px;
}

.sprites.class_5 {
  height               : 18px;
  width                : 18px;
  background-position  : -270px -0px;
}

.sprites.class_6 {
  height               : 18px;
  width                : 18px;
  background-position  : -288px -0px;
}

.sprites.class_7 {
  height               : 18px;
  width                : 18px;
  background-position  : -306px -0px;
}

.sprites.class_8 {
  height               : 18px;
  width                : 18px;
  background-position  : -324px -0px;
}

.sprites.class_9 {
  height               : 18px;
  width                : 18px;
  background-position  : -342px -0px;
}

.sprites.class_11 {
  height               : 18px;
  width                : 18px;
  background-position  : -360px -0px;
}

.sprites.faction_0 {
  height               : 18px;
  width                : 18px;
  background-position  : -378px -0px;
}

.sprites.faction_1 {
  height               : 18px;
  width                : 18px;
  background-position  : -396px -0px;
}

.sprites.race_1_0 {
  height               : 18px;
  width                : 18px;
  background-position  : -414px -0px;
}

.sprites.race_1_1 {
  height               : 18px;
  width                : 18px;
  background-position  : -432px -0px;
}

.sprites.race_2_0 {
  height               : 18px;
  width                : 18px;
  background-position  : -450px -0px;
}

.sprites.race_2_1 {
  height               : 18px;
  width                : 18px;
  background-position  : -468px -0px;
}

.sprites.race_3_0 {
  height               : 18px;
  width                : 18px;
  background-position  : -486px -0px;
}

.sprites.race_3_1 {
  height               : 18px;
  width                : 18px;
  background-position  : -504px -0px;
}

.sprites.race_4_0 {
  height               : 18px;
  width                : 18px;
  background-position  : -522px -0px;
}

.sprites.race_4_1 {
  height               : 18px;
  width                : 18px;
  background-position  : -540px -0px;
}

.sprites.race_5_0 {
  height               : 18px;
  width                : 18px;
  background-position  : -558px -0px;
}

.sprites.race_5_1 {
  height               : 18px;
  width                : 18px;
  background-position  : -576px -0px;
}

.sprites.race_6_0 {
  height               : 18px;
  width                : 18px;
  background-position  : -594px -0px;
}

.sprites.race_6_1 {
  height               : 18px;
  width                : 18px;
  background-position  : -612px -0px;
}

.sprites.race_7_0 {
  height               : 18px;
  width                : 18px;
  background-position  : -630px -0px;
}

.sprites.race_7_1 {
  height               : 18px;
  width                : 18px;
  background-position  : -648px -0px;
}

.sprites.race_8_0 {
  height               : 18px;
  width                : 18px;
  background-position  : -666px -0px;
}

.sprites.race_8_1 {
  height               : 18px;
  width                : 18px;
  background-position  : -684px -0px;
}

.sprites.race_9_0 {
  height               : 18px;
  width                : 18px;
  background-position  : -702px -0px;
}

.sprites.race_9_1 {
  height               : 18px;
  width                : 18px;
  background-position  : -720px -0px;
}

.sprites.race_10_0 {
  height               : 18px;
  width                : 18px;
  background-position  : -738px -0px;
}

.sprites.race_10_1 {
  height               : 18px;
  width                : 18px;
  background-position  : -756px -0px;
}

.sprites.race_11_0 {
  height               : 18px;
  width                : 18px;
  background-position  : -774px -0px;
}

.sprites.race_11_1 {
  height               : 18px;
  width                : 18px;
  background-position  : -792px -0px;
}

.sprites.race_22_0 {
  height               : 18px;
  width                : 18px;
  background-position  : -810px -0px;
}

.sprites.race_22_1 {
  height               : 18px;
  width                : 18px;
  background-position  : -828px -0px;
}

.sprites.spell_deathknight_bloodpresence {
  height               : 18px;
  width                : 18px;
  background-position  : -846px -0px;
}

.sprites.spell_deathknight_frostpresence {
  height               : 18px;
  width                : 18px;
  background-position  : -864px -0px;
}

.sprites.spell_deathknight_unholypresence {
  height               : 18px;
  width                : 18px;
  background-position  : -882px -0px;
}

.sprites.spell_fire_firebolt02 {
  height               : 18px;
  width                : 18px;
  background-position  : -900px -0px;
}

.sprites.spell_frost_frostbolt02 {
  height               : 18px;
  width                : 18px;
  background-position  : -918px -0px;
}

.sprites.spell_holy_auraoflight {
  height               : 18px;
  width                : 18px;
  background-position  : -936px -0px;
}

.sprites.spell_holy_guardianspirit {
  height               : 18px;
  width                : 18px;
  background-position  : -954px -0px;
}

.sprites.spell_holy_holybolt {
  height               : 18px;
  width                : 18px;
  background-position  : -972px -0px;
}

.sprites.spell_holy_magicalsentry {
  height               : 18px;
  width                : 18px;
  background-position  : -990px -0px;
}

.sprites.spell_holy_powerwordshield {
  height               : 18px;
  width                : 18px;
  background-position  : -1008px -0px;
}

.sprites.spell_nature_healingtouch {
  height               : 18px;
  width                : 18px;
  background-position  : -1026px -0px;
}

.sprites.spell_nature_lightning {
  height               : 18px;
  width                : 18px;
  background-position  : -1044px -0px;
}

.sprites.spell_nature_lightningshield {
  height               : 18px;
  width                : 18px;
  background-position  : -1062px -0px;
}

.sprites.spell_nature_magicimmunity {
  height               : 18px;
  width                : 18px;
  background-position  : -1080px -0px;
}

.sprites.spell_nature_starfall {
  height               : 18px;
  width                : 18px;
  background-position  : -1098px -0px;
}

.sprites.spell_shadow_deathcoil {
  height               : 18px;
  width                : 18px;
  background-position  : -1116px -0px;
}

.sprites.spell_shadow_metamorphosis {
  height               : 18px;
  width                : 18px;
  background-position  : -1134px -0px;
}

.sprites.spell_shadow_rainoffire {
  height               : 18px;
  width                : 18px;
  background-position  : -1152px -0px;
}

.sprites.spell_shadow_shadowwordpain {
  height               : 18px;
  width                : 18px;
  background-position  : -1170px -0px;
}
