@import "blizzard-icons/*.png";
@include all-blizzard-icons-sprites;

.sprites {
  display: inline-block;
  border: 1px solid black;
  border-bottom-color: #2f3032;
  border-top-color: #b1b2b4;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  line-height: 1px;
  vertical-align: bottom;
  background-color: transparent;
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
}
